@model List<Product>

@{
    ViewData["Title"] = "Products";
}

<section id="products">

    <div class="container">
        <input type="hidden" name="name" id="product-count" value="@ViewBag.ProductCount" />
        <h3 class="my-3">Products</h3>
        <div class="row" id="parent">
            <partial name="_ProductsPartial" />

        </div>
        <div class="more d-flex justify-content-center my-3">
            <button id="show-more" class="btn btn-outline-primary">Show more ...</button>
        </div>
    </div>
</section>

<!-- BLOG START -->

<section id="blog">
    <div class="container">
        <div class="row py-5">
            <div class="offset-lg-3 col-lg-6">
                <div class="section-title">
                    <h1>From our Blog</h1>
                    <p class="text-black-50">
                        A perfect blend of creativity, energy, communication, happiness and
                        love. Let us arrange
                        a smile for you.
                    </p>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("Blog");
    </div>
</section>

<!-- BLOG END -->
