@model Category
@{
    ViewData["Title"] = "Category detail";
}

<div class="container mt-5">
    <h4>Category</h4>
    <p>@Model.Name</p>
    <div>
        <a asp-action="Index" class="btn btn-primary">Go back</a>
    </div>
</div>

